<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- <bean id="jdbcCfg" name="jdbcCfg" -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <description>数据库连接配置文件</description>
        <property name="locations">
            <list>
                <value>classpath:mysql.properties</value>
                <!--<value>classpath:redis.properties</value>-->
                <!--<value>classpath:project.properties</value>-->
            </list>
        </property>
    </bean>

</beans>